body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    color: white;
    background-image: url(https://unsplash.com/photos/biTSQn9K-tg);
    height: 125px;
}

.container {
    display: flex;
}